.header {
    display: flex;
    padding: 1.5em 1em 0;
    justify-content: space-between;
    align-items: center;
}

.header__slider-name {
    font-size: 0.7rem;
}

.header__social {
    display: flex;
    gap: 1.5em;
}