.main-footer {
    margin-top: 12vmin;
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
}

.main-footer__cta {
    color: white;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.main-footer__item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.main-footer__item-info__price {
    font-size: 1.5rem;
}

.main-footer__item-info__rating {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}