.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12vmin;
}

.main__left-arrow {
    transform: rotate(180deg);
}

.main__hero-block {
    position: relative;
}

.main__hero-image {
    transition: 1s;
    height: 42vmin;
    width: auto;
    position: relative;
    right: 0;
    z-index: 2;
}

.main__hero-title {
    font-size: 2.5rem;
    white-space: nowrap;
}

.main__hero-title::before {
    content: "NIKE CRYPTOKICK";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    white-space: nowrap;
    color: black;
}

.main__hero-title::after {
    content: "NIKE CRYPTOKICK";
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.main__slider {
    padding: 1.5em;
    width: 8em;
    height: 8em;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__right-slider {
    transform: translateX(20%);
}

.main__left-slider {
    transform: translateX(-20%);
}