@import "header.css";
@import "main.css";
@import "main-footer.css";

:root {
  box-sizing: border-box;
  font-size: calc(0.6vw + 0.8em);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #432093, #90dafd);
  font-family: Space Grotesk, sans-serif;
  color: #fff;
  overflow-x: hidden;
}
